<!doctype html>
<html>
  <head>
    <meta charset="utf8">
  </head>
  <body>
    <h1>じーめーるっぽいのにしたい</h1>

    <nav>
      <ul id="menu">
        <li><a href="#received">受信</a></li>
        <li><a href="#sent">送信</a></li>
      </ul>
    </nav>

    <div id="content">
    </div>

    <script src="/vendor/underscore/underscore.js"></script>
    <script src="/vendor/jquery/dist/jquery.js"></script>
    <script src="/vendor/backbone/backbone.js"></script>
    <script src="/vendor/backbone.babysitter/src/childviewcontainer.js"></script>
    <script src="/vendor/backbone.babysitter/src/build/backbone.babysitter.js"></script>
    <script src="/vendor/backbone.wreqr/src/build/backbone.wreqr.js"></script>
    <script src="/vendor/backbone.marionette/lib/backbone.marionette.js"></script>
    <script src="/index.js"></script>
    <script>
      window.mailbox.start()
    </script>
  </body>
</html>
